.container1{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
}

.menu{
    display: flex;
    align-items: center;
}

.burger{
    font-size: 30px;
    color: black;
}

.logoname{
    font-weight: 900;
}

.logo{
    margin-left: 10px;
}

.contrainer2{
    display: flex;
    justify-content: start;
    margin: 20px 60px;
}

.mini1{
    display: flex;
    flex-direction: column;

}

.linkcomp{
    margin: 13px 0px;
    font-size: 17px;
    margin-left: 10px;
    border-radius: 3px;
    font-weight: 600;
}

@media (max-width: 549px) {
    .logo{
        width: 45px;
        margin: auto;
    }

    .burger{
        font-size: 20px;
    }

    .logoname{
        font-size: 10px;
    }
}
